<a href="https://colab.research.google.com/github/NurbuLama/GoogleCollabExport/blob/master/911EmergencyCalls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Case Study

Congrats! You have been contracted to conduct a brief analysis of a dataset containing ememrgency calls in order to determine the allocation of funds to you local authorities.  This analysis will play a role in deciding changes to the emergency response department.

The data is based in 911 emergency calls and your job is to determine a variety of issues regarding said calls.

1. Using Pandas and Numpy, analyse the data and come up with 5 questions that you would like to answer about the data.

2. the instructor will provide a rnage of questions to answer and you should use your knowledge to complte them as a team.

In [ ]:
# Jose Canalizo
# Mohsin Masrur
# Nurbu Lama
# Tashi T. Gurung

In [ ]:
# 1. How many unique titles are there?
df['title'].nunique()

110

There are 110 unique titles

In [ ]:
#2. What are the top 5 titles by frequency?
df['title'].value_counts(normalize = True).head(5) * 100

Traffic: VEHICLE ACCIDENT -    23.183774
Traffic: DISABLED VEHICLE -     7.741326
Fire: FIRE ALARM                5.524062
EMS: RESPIRATORY EMERGENCY      5.138102
EMS: CARDIAC EMERGENCY          5.037591
Name: title, dtype: float64

The top five titles include <br>
1. Traffic: Vechile Accident
2. Traffic: Disabled Vehicle
3. Fire: Fire Alarm 
4. EMS: Respiratory Emergency

In [ ]:
# 3. How many calls were "vechile" related?
boolean_mask = df['title'].str.lower().str.contains('vehicle')
df[boolean_mask]['title'].unique()

array(['Traffic: VEHICLE ACCIDENT -', 'EMS: VEHICLE ACCIDENT',
       'Traffic: DISABLED VEHICLE -', 'Fire: VEHICLE ACCIDENT',
       'Traffic: VEHICLE LEAKING FUEL -', 'Fire: VEHICLE FIRE',
       'Traffic: VEHICLE FIRE -', 'Fire: VEHICLE LEAKING FUEL',
       'EMS: VEHICLE FIRE', 'EMS: DISABLED VEHICLE'], dtype=object)

In [ ]:
round(df[boolean_mask]['title'].count()/len(df) * 100,2)

37.78

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/CUNY Research Data Analytics 1A/data/911.csv', index_col = 'timeStamp', parse_dates = True)
df.head()

                           lat        lng  ...                        addr  e
timeStamp                                  ...
2015-12-10 17:40:00  40.297876 -75.581294  ...      REINDEER CT & DEAD END  1
2015-12-10 17:40:00  40.258061 -75.264680  ...  BRIAR PATH & WHITEMARSH LN  1
2015-12-10 17:40:00  40.121182 -75.351975  ...                    HAWS AVE  1
2015-12-10 17:40:01  40.116153 -75.343513  ...          AIRY ST & SWEDE ST  1
2015-12-10 17:40:01  40.251492 -75.603350  ...    CHERRYWOOD CT & DEAD END  1

[5 rows x 8 columns]

DatetimeIndex(['2015-12-10 17:40:00', '2015-12-10 17:40:00',
               '2015-12-10 17:40:00', '2015-12-10 17:40:01',
               '2015-12-10 17:40:01', '2015-12-10 17:40:01',
               '2015-12-10 17:40:01', '2015-12-10 17:40:01',
               '2015-12-10 17:40:01', '2015-12-10 17:40:01',
               ...
               '2016-08-24 10:52:03', '2016-08-24 10:57:00',
               '2016-08-24 10:57:00', '2016-08-24 10:57:01',
               '2016-08-24 11:02:02', '2016-08-24 11:06:00',
               '2016-08-24 11:07:02', '2016-08-24 11:12:00',
               '2016-08-24 11:17:01', '2016-08-24 11:17:02'],
              dtype='datetime64[ns]', name='timeStamp', length=99492, freq=None)

In [ ]:
# 4. Which day had the most calls, and the least calls?
df.groupby(df.index.strftime('%Y-%m-%d')).count()['title'].sort_values(ascending = False) # by each day`

timeStamp
2016-01-23    913
2016-02-24    679
2016-01-24    662
2016-01-12    588
2016-04-03    586
             ...
2016-02-07    255
2016-03-20    244
2016-05-01    140
2016-08-24    132
2015-12-10    115
Name: title, Length: 259, dtype: int64

In [ ]:
# 5. Which zip code has the most calls, which has the least? 19401 with 8% of all calls, 7 zip codes with only 1 call
df['zip'].value_counts(normalize = True).head(1) * 100

19401.0    8.05545
Name: zip, dtype: float64

In [ ]:
df['zip'].value_counts(normalize = True).tail(1) * 100

17752.0    0.001154
Name: zip, dtype: float64

In [ ]:
# 6. Serious issues with missing data?
df.groupby(df.index.strftime('%m')).count()['e'] # month

timeStamp
01    13205
02    11467
03    11101
04    11326
05    11423
06    11786
07    12137
08     9078
12     7969
Name: e, dtype: int64

In [ ]:
# Further Findings
# townships
numbers = [5, 10, 20]
for number in numbers:
  print(f"{number} twp account for {round((df['twp'].value_counts(normalize = True).head(number) * 100).sum(), 2)} % of all 911 calls")
# there are 68 twp in total

5 twp account for 30.28 % of all 911 calls
10 twp account for 47.34 % of all 911 calls
20 twp account for 69.76 % of all 911 calls

In [ ]:
df['zip'].value_counts(normalize = True).head(10) * 100

19401.0    8.055450
19464.0    7.667625
19403.0    5.602687
19446.0    5.480338
19406.0    3.663562
19002.0    3.520436
19468.0    3.451181
19454.0    3.209945
19090.0    3.041426
19038.0    2.975634
Name: zip, dtype: float64

In [ ]:
round((df['zip'].value_counts(normalize = True).head(50) * 100).sum(),2)
 # there are 104 zipcodes in total

96.6

In [ ]:
# ZIPCODE
numbers = [10,20,50]

for number in numbers:
  print(f"{number} zipcodes account for {round((df['zip'].value_counts(normalize = True).head(number) * 100).sum(), 2)} % of all 911 calls")
 # there are 104 zipcodes in total

10 zipcodes account for 46.67 % of all 911 calls
20 zipcodes account for 70.98 % of all 911 calls
50 zipcodes account for 96.6 % of all 911 calls

In [ ]:
# When do most of the calls come?

In [ ]:
(df.groupby(df.index.strftime('%H')).count()['e']).sort_values()

timeStamp
04    1418
03    1435
02    1549
05    1629
01    1721
00    2112
06    2513
23    2559
22    3283
21    3788
07    3970
20    4377
19    4908
08    5044
09    5314
10    5413
11    5543
18    5762
13    5967
14    5997
12    6029
15    6154
16    6490
17    6517
Name: e, dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/CUNY Research Data Analytics 1A/data/911.csv', index_col = 'timeStamp', parse_dates = True)
df.head()

                           lat        lng  ...                        addr  e
timeStamp                                  ...
2015-12-10 17:40:00  40.297876 -75.581294  ...      REINDEER CT & DEAD END  1
2015-12-10 17:40:00  40.258061 -75.264680  ...  BRIAR PATH & WHITEMARSH LN  1
2015-12-10 17:40:00  40.121182 -75.351975  ...                    HAWS AVE  1
2015-12-10 17:40:01  40.116153 -75.343513  ...          AIRY ST & SWEDE ST  1
2015-12-10 17:40:01  40.251492 -75.603350  ...    CHERRYWOOD CT & DEAD END  1

[5 rows x 8 columns]

Data from : <br>2015-12-10  <br> to <br> 2016-08-24

For missing values

In [ ]:
df.isna().sum()

lat              0
lng              0
desc             0
zip          12855
title            0
timeStamp        0
twp             43
addr           519
e                0
dtype: int64

In [ ]:
df.isna().sum()/len(df) * 100

lat           0.000000
lng           0.000000
desc          0.000000
zip          12.920637
title         0.000000
timeStamp     0.000000
twp           0.043220
addr          0.521650
e             0.000000
dtype: float64

In [ ]:
df.nunique()

lat      14579
lng      14586
desc     99455
zip        104
title      110
twp         68
addr     21914
e            1
dtype: int64

In [ ]:
df['title'].value_counts(normalize = True) * 100

Traffic: VEHICLE ACCIDENT -        23.183774
Traffic: DISABLED VEHICLE -         7.741326
Fire: FIRE ALARM                    5.524062
EMS: RESPIRATORY EMERGENCY          5.138102
EMS: CARDIAC EMERGENCY              5.037591
                                     ...
EMS: PLANE CRASH                    0.001005
EMS: BOMB DEVICE FOUND              0.001005
Fire: UNKNOWN MEDICAL EMERGENCY     0.001005
Fire: UNCONSCIOUS SUBJECT           0.001005
EMS: DISABLED VEHICLE               0.001005
Name: title, Length: 110, dtype: float64

In [ ]:
boolean_mask = df['title'].str.lower().str.contains('vehicle')
df[boolean_mask]['title'].unique()

array(['Traffic: VEHICLE ACCIDENT -', 'EMS: VEHICLE ACCIDENT',
       'Traffic: DISABLED VEHICLE -', 'Fire: VEHICLE ACCIDENT',
       'Traffic: VEHICLE LEAKING FUEL -', 'Fire: VEHICLE FIRE',
       'Traffic: VEHICLE FIRE -', 'Fire: VEHICLE LEAKING FUEL',
       'EMS: VEHICLE FIRE', 'EMS: DISABLED VEHICLE'], dtype=object)

In [ ]:
df[boolean_mask]['title'].count()/len(df) * 100

37.78293732159369

FOR ZIP CODES

In [ ]:
df['zip'].nunique() # there are 104 unique zipcodes

104

In [ ]:
df['zip'].value_counts(normalize = True).head(10) * 100

19401.0    8.055450
19464.0    7.667625
19403.0    5.602687
19446.0    5.480338
19406.0    3.663562
19002.0    3.520436
19468.0    3.451181
19454.0    3.209945
19090.0    3.041426
19038.0    2.975634
Name: zip, dtype: float64

In [ ]:
numbers = [10,20,50]
for number in numbers:
  print(f"{number} zipcodes account for {round((df['zip'].value_counts(normalize = True).head(number) * 100).sum(), 2)} of all 911 calls")
 # there are 104 zipcodes in total

10 zipcodes account for 46.67 of all 911 calls
20 zipcodes account for 70.98 of all 911 calls
50 zipcodes account for 96.6 of all 911 calls

Would love to tally this against the population data

In [ ]:
df['twp'].value_counts(normalize = True)

LOWER MERION     0.084898
ABINGTON         0.060101
NORRISTOWN       0.059226
UPPER MERION     0.052560
CHELTENHAM       0.046003
                   ...
BRYN ATHYN       0.001740
SALFORD          0.001639
GREEN LANE       0.000513
PHILA COUNTY     0.000432
LEHIGH COUNTY    0.000302
Name: twp, Length: 68, dtype: float64

In [ ]:
numbers = [5, 10, 20]
for number in numbers:
  print(f"{number} twp account for {round((df['twp'].value_counts(normalize = True).head(number) * 100).sum(), 2)} of all 911 calls")
# there are 68 twp in total

5 twp account for 30.28 of all 911 calls
10 twp account for 47.34 of all 911 calls
20 twp account for 69.76 of all 911 calls

by the day of the week, day of the month, month, and year

In [ ]:
df.groupby(df.index.strftime('%Y-%m-%d')).count()['e'].sort_values(ascending = False) # by each day

timeStamp
2016-01-23    913
2016-02-24    679
2016-01-24    662
2016-01-12    588
2016-04-03    586
             ...
2016-02-07    255
2016-03-20    244
2016-05-01    140
2016-08-24    132
2015-12-10    115
Name: e, Length: 259, dtype: int64

In [ ]:
df.groupby(df.index.strftime('%a')).count()['e'] # day of the week

timeStamp
Fri    14833
Mon    14680
Sat    13336
Sun    12136
Thu    14478
Tue    15150
Wed    14879
Name: e, dtype: int64

In [ ]:
df.groupby(df.index.strftime('%d')).count()['e'] # day of the month

timeStamp
01    2876
02    3044
03    3215
04    2955
05    2964
06    3098
07    2926
08    3120
09    2870
10    3071
11    3647
12    3628
13    3525
14    3468
15    3585
16    3539
17    3339
18    3284
19    3423
20    3201
21    3370
22    3407
23    4185
24    3661
25    3473
26    3116
27    3006
28    3229
29    3060
30    2442
31    1765
Name: e, dtype: int64

In [ ]:
df.groupby(df.index.strftime('%m')).count()['e'] # month

timeStamp
01    13205
02    11467
03    11101
04    11326
05    11423
06    11786
07    12137
08     9078
12     7969
Name: e, dtype: int64

In [ ]:
# completely missing data from 9, 10, 11 september, october, november

In [ ]:
df.groupby(df.index.strftime('%Y')).count()['e']

timeStamp
2015     7969
2016    91523
Name: e, dtype: int64