<a href="https://colab.research.google.com/github/NurbuLama/GoogleCollabExport/blob/master/loop%26function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
tvShows=['star trek','game of thrones','stranger things']
for show in tvShows:
  print (show)

star trek
game of thrones
stranger things

In [7]:
for x in 'cuny':
  print(x)

c
u
n
y

In [106]:
familyName=["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T"]
for z in range(1,19):
  print(familyName[z:z+2])

['B', 'C']
['C', 'D']
['D', 'E']
['E', 'F']
['F', 'G']
['G', 'H']
['H', 'I']
['I', 'J']
['J', 'K']
['K', 'L']
['L', 'M']
['M', 'N']
['N', 'O']
['O', 'P']
['P', 'Q']
['Q', 'R']
['R', 'S']
['S', 'T']

In [94]:
for num in range(1,10):
  print(num)

1
2
3
4
5
6
7
8
9

In [18]:
numbers= list(range(1,11,2))
print(numbers)

[1, 3, 5, 7, 9]

In [28]:
enterNum= int(input("Enter the Number: "))
if enterNum % 2 ==1:
  print("It's an odd Number")
elif enterNum % 2 ==0:
  print("It's an even Number")
else:
  print("Neither")

Enter the Number: 2
It's an even Number

In [89]:
for num in range(2,15):
    if all(num%i!=0 for i in range(2,num)):
       print (num)

2
3
5
7
11
13

In [93]:
n=int(input("Enter the upperbound: "))
for k in range(2,n+1):
  for i in range(2,n):
    if all(n%k!=0 for i in range(2,n+1)):     
      print(k)
      break
      
    else:
      print("{}(not prime)".format(k))
      break

Enter the upperbound: 15
2
3(not prime)
4
5(not prime)
6
7
8
9
10
11
12
13
14
15(not prime)